.navbar{
    width: 100%;
    min-height: 6hv;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #33d6c9c5;
    transition: all .7s ease-in; 

}

.scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 147, 196, 0.781);
}

.logo_img{
    width: 50px;
}

.navigation{
    //navigation styles go here
}